{% extends "base.html" %}

{% block content %}
    <section class="card">
        <h1>Contacto</h1>
        <p>Puedes encontrarme en las siguientes plataformas:</p>
        <ul>
            <li>
                <strong>Email:</strong> 
                <a href="mailto:edherrera206@gmail.com">edherrera206@gmail.com</a>
            </li>
            <li>
                <strong>LinkedIn:</strong> 
                <a href="https://www.linkedin.com/in/edgar-ivan-morales-herrera/" target="_blank">https://www.linkedin.com/in/edgar-ivan-morales-herrera/</a>
            </li>
            <li>
                <strong>GitHub:</strong> 
                <a href="https://github.com/ed-mh" target="_blank">https://github.com/ed-mh</a>
            </li>
        </ul>
    </section>
{% endblock %}