{% extends "base.html" %}

{% block content %}
    <section class="card">

    <h1>Edgar Morales | Analista de Datos en Chiapas</h1>
    
       
        <p>
            Soy un Analista de Datos que vive y trabaja desde Chiapas. Mi trabajo se centra en usar el poder de Python, SQL y otras herramientas para ir más allá de los números,
            tranformandolos en cosas útiles y desentrañando patrones que impulsen el valor de un proyecto.
            
        </p>
        <p>
            Este espacio es mi laboratorio personal, un portafolio donde me permito explorar nuevos horizontes sin limitarme a una sola área.
            Estoy siempre en busca de colaboraciones interesantes y listo para poner mis habilidades analíticas a disposición de tu próximo gran proyecto.

        </p>
    </section>
{% endblock %}