{% extends "base.html" %}

{% block content %}
    <section class="card">
       


        <h1>Edgar Morales | Analista de Datos en Chiapas</h1>
    
       <!--
        <p>
            Soy un Analista de Datos que vive y trabaja desde Chiapas. Mi trabajo se centra en usar el poder de Python, SQL y otras herramientas para ir más allá de los números,
            tranformandolos en cosas útiles y desentrañando patrones que impulsen el valor de un proyecto.
            
        </p>
        <p>
            Este espacio es mi laboratorio personal, un portafolio donde me permito explorar nuevos horizontes sin limitarme a una sola área.
            Estoy siempre en busca de colaboraciones interesantes y listo para poner mis habilidades analíticas a disposición de tu próximo gran proyecto.

        </p>

    -->

        ¿Toma decisiones basadas en intuiciones o en evidencias? 
        Ayudo a empresas a dejar de adivinar mediante el análisis de datos estratégico 
        y la automatización de flujos de trabajo. Con dominio avanzado de herramientas como Excel, 
        SQL, Python, me especializo en limpiar datos desordenados y convertirlos en información útil 
        que ahorran horas de trabajo semanal a los equipos directivos. Mi objetivo es simple: optimizar 
        sus procesos y descubrir oportunidades de ahorro o ingresos que permanecen ocultas en sus hojas de cálculo. 
        Trabajemos juntos para que tus datos trabajen para ti.




        <p>Puedes encontrarme en los siguientes medios:</p>
        <ul>
            <li>
                <strong>Email:</strong> 
                <a href="mailto:edherrera206@gmail.com">edherrera206@gmail.com</a>
            </li>
            <li>
                <strong>Whatsapp:</strong> 
                <a href="https://wa.me/525642413168">mensaje</a>
            </li>
            <li>
                <strong>LinkedIn:</strong> 
                <a href="https://www.linkedin.com/in/edgar-ivan-morales-herrera/" target="_blank">https://www.linkedin.com/in/edgar-ivan-morales-herrera/</a>
            </li>
            <li>
                <strong>GitHub:</strong> 
                <a href="https://github.com/ed-mh" target="_blank">https://github.com/ed-mh</a>
            </li>
        </ul>
    </section>

    <form action="/" method="POST">
    <input type="text" name="nombre" placeholder="Tu nombre" >
    <input type="email" name="email" placeholder="Tu correo" >
    <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
    <button type="submit">Enviar Mensaje</button>
</form>
{% endblock %}